.register {
  background-color: #fff;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.register__logo {
  margin-top: 20px;
  margin-bottom: 20px;
  object-fit: contain;
  width: 100px;
  margin-right: auto;
  margin-left: auto;
}

.register__registerContainer {
  width: 300px;
  height: fit-content;
  display: flex;

  flex-direction: column;
  border-radius: 5px;
  border: 1px solid lightgray;
  padding: 20px;
  margin-bottom: 22px;
}

.register__registerContainer > h1 {
  font-weight: 500;
  margin-bottom: 20px;
}

.register__registerContainer > div > p {
  margin-top: 15px;
  font-size: 12px;
}

.register__registerContainer > div > form {
  display: flex;
  flex-direction: column;
}

.register__registerContainer > div > form > label {
  margin-bottom: 5px;
  font-weight: 500;
}

.register__registerContainer > div > form > input {
  height: 30px;
  margin-bottom: 10px;
  background-color: #fff;
  width: 96%;
  padding: 0px 5px;
  border-radius: 5px;
}

.register__registerContainer > div > form > h6 {
  font-weight: 400;
  margin-bottom: 10px;
}

.register__registerContainer > div > p {
  margin-bottom: 26px;
}

.register__registerButton,
.register__registerButton:link,
.register__registerButton:visited {
  background-color: #f0c14b;
  border-radius: 2px;
  width: 100%;
  height: 30px;
  border: 1px solid;
  margin-top: 10px;
  border-color: #a88734 #9c7e31 #846a29;
}

.register__registerButton:hover,
.register__registerButton:active {
  cursor: pointer;
  box-shadow: 0 0 0 1px black;
}

.register__divider {
  height: 44px;
  margin-bottom: -18px;
  z-index: 0;
  zoom: 1;
  background: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 0.14),
    rgba(0, 0, 0, 0.03) 3px,
    transparent
  );
}

.register__divider::after {
  display: block;
  width: 100%;
  height: 44px;
  background: linear-gradient(to right, #fff, rgba(255, 255, 255, 0), #fff);
  z-index: 1;
  content: "";
}

.register__registerButton,
.register__registerButton:link,
.register__registerButton:visited {
  border-radius: 2px;
  width: 100%;
  height: 30px;
  border: 1px solid;
  margin-top: 10px;
  border-color: darkgray;
  cursor: pointer;

  font-size: 13px;
  line-height: 29px;
}

.register__registerButton:hover,
.register__registerButton:active {
  box-shadow: 0 0 0 1px black;
}

.register__signIn {
  font-size: 13px;
  line-height: 19px;
  color: #111;
}

.register__signIn > a:link,
.register__signIn > a:visited {
  text-decoration: none;
}

.register__signIn > a:hover,
.register__signIn > a:active {
  text-decoration: underline;
}
