.register {
  background-color: #fff;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.register__logo {
  margin-top: 20px;
  margin-bottom: 20px;
  object-fit: contain;
  width: 100px;
  margin-right: auto;
  margin-left: auto;
}

.register__signInContainer {
  width: 300px;
  height: fit-content;
  display: flex;

  flex-direction: column;
  border-radius: 5px;
  border: 1px solid lightgray;
  padding: 20px;
  margin-bottom: 22px;
}

.register__signInContainer > h1 {
  font-weight: 500;
  margin-bottom: 20px;
}

.register__signInContainer > div > p {
  margin-top: 15px;
  font-size: 12px;
}

.register__signInContainer > div > form {
  display: flex;
  flex-direction: column;
}

.register__signInContainer > div > form > label {
  margin-bottom: 5px;
  font-weight: 500;
}

.register__signInContainer > div > form > input {
  height: 30px;
  margin-bottom: 10px;
  background-color: #fff;
  width: 96%;
  padding: 0px 5px;
  border-radius: 5px;
}

.register__signInContainer > div > form > h6 {
  font-weight: 400;
  margin-bottom: 10px;
}

.register__signInButton,
.register__signInButton:link,
.register__signInButton:visited {
  background-color: #f0c14b;
  border-radius: 2px;
  width: 100%;
  height: 30px;
  border: 1px solid;
  margin-top: 10px;
  border-color: #a88734 #9c7e31 #846a29;
}

.register__signInButton:hover,
.register__signInButton:active {
  cursor: pointer;
  box-shadow: 0 0 0 1px black;
}

.register__divider {
  text-align: center;
  position: relative;
  top: 2px;
  padding-top: 1px;
  margin-bottom: 14px;
  line-height: 0;
  width: 100%;
}

.register__divider::after {
  content: "";
  width: 100%;
  background-color: transparent;
  display: block;
  height: 1px;
  border-top: 1px solid #e7e7e7;
  position: absolute;
  top: 50%;
  margin-top: -1px;
  z-index: 1;
}

.register__divider > h5 {
  line-height: 1;
  font-size: 12px;
  color: #767676;
  font-weight: 400;
  z-index: 2;
  position: relative;
  display: inline-block;
  background-color: #fff;
  padding: 0 8px 0 7px;
}

.register__register {
  width: 340px;
}

.register__registerButton,
.register__registerButton:link,
.register__registerButton:visited {
  border-radius: 2px;
  width: 100%;
  height: 30px;
  border: 1px solid;
  margin-top: 10px;
  border-color: darkgray;
  cursor: pointer;

  font-size: 13px;
  line-height: 29px;
}

.register__registerButton:hover,
.register__registerButton:active {
  box-shadow: 0 0 0 1px black;
}
