.footer {
  display: flex;

  background-color: #232f3e;
  color: #fff;
  align-items: center;
  padding: 30px 0;
}

.footer__button {
  display: block;
  margin-top: 50px;
  width: 100%;
  padding: 15px 0;
  line-height: 19px;
  font-size: 13px;
  cursor: pointer;
  background-color: #37475a;
  border: none;
  color: #fff;
}

.footer__button:hover,
.footer__button:focus {
  background-color: #485769;
}

.footer__columns {
  display: flex;
  margin: 0 auto;
  gap: 80px;
  font-size: 14px;
}

.footer__columnTitle {
  font-size: 16px;
  margin: 6px 0 14px 0;
  font-weight: 700;
}

.footer__column > ul {
  list-style-type: none;
}

.footer__column > ul > li {
  margin-bottom: 3px;
}
